{% extends 'base.html' %} 

{% block title %} Flask CRUD {% endblock %}

{% block header %} 
<div class="jumbotron p-2 bg-success rounded-0 mb-2">
    <div class="well text-center">
        <h1>CRUD Desenvolvimento Web Com Python e Flask</h1>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="container">

    <a class="text-primary" data-toggle="modal" data-target="#window_insert" href="/insert.pessoa">
        <svg class="mb-2" class="bi bi-plus-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
        </svg>
    </a>

    {% with mensagens = get_flashed_messages(with_categories=true) %}

        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <div class="alert {{ categoria }}" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>                
            {% endfor %}
        {% endif %}   

    {% endwith %}

    <div class="modal fade" id="window_insert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>CADASTRAR PESSOA</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('insert_pessoa') }}" method="post">
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            <input class="form-control type="text" name="cpf" id="cpf" maxlength="14" required="1">
                        </div>
                        <div class="form-group">
                            <label for="nome">NOME:</label>
                            <input class="form-control" type="text" name="nome" id="nome" maxlength="40" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit">CADASTRAR</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-borderless table-success rounded">
        <tbody class="d-flex flex-column align-items-center"> 
            {% for pessoa in pessoas.items %}              
            <tr>
                <th scope="row">CPF:</th>
                <td>{{ pessoa.cpf }}</td>
            </tr>
            <tr>
                <th scope="row">NOME:</th>
                <td>{{ pessoa.nome }}</td>
            </tr>
            <tr>
                <th scope="row">AÇÕES:</th>
                <td>
                    <a class="text-success" data-toggle="modal" data-target="#window_update_{{ pessoa.id }}" href="/update.pessoa/{{ pessoa.id }}">
                        <svg class="bi bi-pencil-square" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <div class="modal fade text-left" id="window_update_{{ pessoa.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>EDITAR PESSOA</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('update_pessoa') }}" method="post">
                                        <input type="hidden" name="id" value="{{ pessoa.id }}">
                                        <div class="form-group">
                                            <label for="cpf">CPF:</label>
                                            <input class="form-control type="text" name="cpf" id="cpf" maxlength="14" required="1" value="{{ pessoa.cpf }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="nome">NOME:</label>
                                            <input class="form-control" type="text" name="nome" id="nome" maxlength="40" required="1" value="{{ pessoa.nome }}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary" type="submit">SALVAR</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">CANCELAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="text-danger" href="/delete.pessoa/{{ pessoa.id }}" onclick="return confirm('Deseja realmente excluir ?')">
                        <svg class="bi bi-trash" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if pessoas.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('index', p = pessoas.previous_page) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for page_num in range(pessoas.pages) %}
                <li class="page-item {% if not pessoas.has_previous and page_num == 0 or page_num == pessoas.previous_page %} active {% endif %}"><a class="page-link" href="{{ url_for('index', p = page_num + 1) }}">{{ page_num + 1 }}</a></li>
            {% endfor %}
            {% if pessoas.next_page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', p = pessoas.next_page) }}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
            </li>
        </ul>
    </div>
</div>    
{% endblock %}