{% extends 'base.html' %} 

{% block title %} Flask CRUD {% endblock %}

{% block header %} 
<div class="jumbotron p-1 rounded-0 mb-2">
    <div class="well text-center">
        <h1>CRUD Desenvolvimento Web Com Python e Flask</h1>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="container">
    <button class="btn btn-sm btn-primary mb-2" onclick="adicionar()">ADICIONAR</button>
    <table id="tabela" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>NOME</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>NOME</th>
                <th>AÇÕES</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
{% block script %}
<script>
   
    const tabela = $('#tabela').DataTable( {
        "ajax": {
            "method": "POST",
            "url": "http://127.0.0.1:5000/pessoas/select",
        },
        "columns": [
            {"data":"ID"},
            {"data":"CPF"},
            {"data":"NOME"},
            {"data":"AÇÕES"}
        ],
        "lengthMenu": [[5, 10, 15], [5, 10, 15]],
        "pagingType": "full_numbers",
        "language": {
            "zeroRecords": "Nenhum registro correspondente encontrado",
            "loadingRecords": "Carregando...",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "search": "Procurar:",
            "paginate": {
            "first": "<<",
            "last":  ">>",
            "next":  ">",
            "previous": "<"
            }
        },   
    });

    setInterval( function () { tabela.ajax.reload() }, 30000 );
</script>
{% endblock %}